@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif !important;
  height: 100vh;
  background-color: #FAF8F8 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Input,
.Wall {
  height: 100vh;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
}

h1 {
  font-family: 'Krona One', sans-serif !important;
  font-size: 3rem !important;
}

.Wall p {
  font-weight: 300;
  font-size: 1em;
  text-align: center;
}

.cropped1 {
  width: 200px;
  /* width of container */
  height: 200px;
  /* height of container */
  object-fit: cover;
  border: 5px solid white;
  background-color: white;
  border-radius: 5px;
  margin-bottom: none !important;
}

.image-response p {
  background-color: white !important;
  width: 85%;
  margin-top: none !important;
}

.Input .message {
  font-size: 0.7em !important;
  width: 50% !important;
  margin: auto;
  display: inline-flex;
  font-weight: 400 !important;
  background-color: #F3F3F3;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 15px;
}

input[type="text"]::placeholder {
  font-size: 0.8em !important;
  color: black !important;
}

.Input textarea {
  border: none;
  width: 55% !important;
  box-sizing: border-box;
  margin: auto;
  padding: 10px;
  /* padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px; */
  white-space: pre-wrap;
  resize: none;
  border-radius: 10px;
  /* word-wrap: break-word;
  word-break: break-all;
  white-space: initial; */
  height: 80px;
  font-family: 'Inter', sans-serif !important;
  outline: none !important;
}

.imagesWall {
  position: relative !important;
}

/* Adding in different aesthetics */
/* ------------------------------------------ */

/* Testing Changing the Div */

.noStyle {
  background-color: #f8eded !important;
  width: 300px !important;
}

.instaStyle {
  background-color: white !important;
  font-weight: 400 !important;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 400px;
  height: fit-content;
}

.instaStyle::before {
  background-image: url('https://i.imgur.com/2jCnrZq.png');
  background-size: 115px 25px;
  display: inline-block;
  width: 115px;
  height: 25px;
  content: " ";
}

.iMessageStyle {
  background-color: #3A77EA !important;
  border-radius: 1.2em !important;
  color: white !important;
  width: 200px;
  transition: background-color 1s ease;
}


.iMessageStyle:hover {
  background-color: #76a0ee !important;
  transition: background-color 0.5s ease;
}

.noteStyle {
  background-color: #ffef9f !important;
  width: 200px;
  transition: background-color 1s ease;
  font-family: 'Pangolin', cursive;
  font-size: 1em !important;
  padding: 10px;
  border-radius: 5px !important;
}

.noteStyle:hover {
  background-color: #faba5a !important;
  transition: background-color 0.5s ease;
}

.parallax-group .delivered {
  font-size: 0.7em;
  width: 250px !important;
  text-align: end;
  display: inline-block;
  color: #6e6e6e;
}



/* .iMessageStyle::after {
  content: " - Remember this";
  background-color: none !important;
} */

/* ------------------------------------------ */


/* body {
  overflow:hidden;
} */

.Input button {
  margin-top: 20px;
  border: none;
  background-color: #FAF8F8 !important;
  color: none !important;
  outline: none !important;
}

.Input button img:active {
  background-color: #5887f3 !important;
  transition: all .1s ease-out;
  outline: none !important;
}

button {
  background-color: none !important;
}

.Input button img {
  border-radius: 50%;
  padding: 0.5em;
  background-color: #7098F2;
  width: 2rem;
  height: 2rem;
  align-items: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  -webkit-appearance: none;
  align-items: center;
}

.prompt select {
  background-color: pink;
  border: none;
  outline: none;
  margin: 10px;
  padding: 10px;
  font-size: 0.7em !important;
  display: inline-flex;
  font-weight: 400 !important;
  background-color: #F3F3F3;
  padding: 10px;
  border-radius: 20px;
}

/* img {
  max-width: 200%;
  max-height: 200%;
} */


/* ------------------------------------------ */

@media only screen and (max-width: 500px) {
  .Input h1 {
    padding-top: 20px;
    font-size: 2em !important;
  }

  .Input form {
    width: 75% !important;
    align-items: center;
    margin: auto;
  }

  .Input #hello {
    height: 150px;
    width: 100% !important;
  }

  .Input form {
    position: relative !important;
  }
}

.bg-yellow {
  background-color: yellow !important;
}

/* Don't move when scrolling */
.containerB {
  position: fixed !important;
}

.containerC .responses p {
  padding: 15px;
  border-radius: 10px;
  font-size: 0.9em;
  margin: 0 !important;
  position: absolute;
  height: fit-content;
}

.containerD h1 {
  font-size: 1.5em !important;
  width: 50%;
  margin: auto;
  height: 100vh;
  vertical-align: middle;
  display: table-cell;
}

.containerD {
  height: 100vh;
  vertical-align: middle;
  position: fixed;
}

/* ------------------------------------------ */
.parallax {
  height: 200vh;
  width: 300vw;
  perspective: 100px;
}

.parallax-group {
  height: 100vh;
  transform-style: preserve-3d;
}

.parallax-layer {
  position: absolute;
}

.testing {
  z-index: 5;
}

.dropbtn {
  right: 0;
  bottom: 0;
  background-color: lavender;
  position: fixed;
  z-index: 4;
  padding: 1em;
  border-radius: 5em;
  margin: 20px;
  border: none;
}

.dropbtn img {
  height: 2.1em;
}

.dropdown {
  z-index: 4;
}

.dropdown-content {
  right: 5em;
  position: fixed;
}

input[type="text"] {
  background-color: #F3F3F3;
  border: none;
  width: 50% !important;
  padding: 0.8em;
  border-radius: 20px;
  margin-bottom: 10px;
}

.imageView {
  width: 300px;
  height: 150px;
  overflow: hidden;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 0;
}

.imageView img {
  width: 100%;
}


.rellax3 {
  display: block;
  height: auto;
  position: absolute;
  padding: 10px;

}

.phone {
  top: 1900px;
  left: 300px;
}

.time {
  top: 3500px;
}